hetzner_token = "{{ tokens['hetzner'] }}"

project_name = "{{ project_name }}"
root_ssh_key_path= "{{ root_private_key_path }}"

servers = {
{% if host_list['hetzner'][0]['name'] is defined%} {% for dict_item in host_list['hetzner'] %}
  "{{dict_item['name']}}" = {
{% if 'server_type' in dict_item %}    server_type = "{{dict_item['server_type']}}"
{% endif %}
{% if 'labels' in dict_item %}    labels = {{dict_item['labels']}}
{% endif %}
{% if 'image' in dict_item %}    image = "{{dict_item['image']}}"
{% endif %}
{% if 'name' in dict_item %}    name = "{{dict_item['name']}}"
{% endif %}
{% if 'location' in dict_item %}    location = "{{dict_item['location']}}"
{% endif %}
{% if 'backups' in dict_item %}    backups = "{{dict_item['backups']}}"
{% endif %}
{% if loop.nextitem is not defined %}
  }
{% endif %}
{% if loop.nextitem is defined %}
  },
{% endif %}
{% endfor %}{% endif %}  
{% if host_list['hetzner'][0]['name'] is not defined%}
  "host1" = {
    name = "host1"
    labels = {ansible = ""}
  }
{% endif %}
}